.cart-counter {
    background-color: #f44336; /* color rojo */
    border-radius: 50%; /* forma circular */
    color: white; /* texto blanco */
    padding: 0.2rem 0.5rem; /* espacio interno */
    font-size: 0.8rem; /* tamaño de letra */
    position: relative; /* para ajustar la posición */
    top: -10px; /* ajustar verticalmente */
    left: -10px; /* ajustar horizontalmente */
  }
  