body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.image-tooltip {
  display: none;
  position: absolute;
  z-index: 1000;
}

.image-tooltip.active {
  display: block;
}
.img-cuadrada {
  width: 200px;       
  height: 200px;       
  object-fit: contain; /* cambiar de cover a contain */
}
.modal-image {
  max-width: 100%;  /* Asegura que la imagen no sea más ancha que su contenedor */
  max-height: 200px; /* Ajusta la altura máxima al valor deseado */
  display: block;   /* Asegura que la imagen no tenga espacio adicional debajo */
  margin: 0 auto;   /* Centra la imagen horizontalmente */
}
.colegio-imagen {
  max-width: 150px;
  max-height: 150px;
  object-fit: contain;

}
.card-img-top {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
